h2.centered Posts

if (posts == false || posts.length == 0)
  h4.center No posts were found!
else
  for post in posts
      div.square.botborder
        a.userlink(href='http://www.facebook.com/'+post.post_id) #{post.username} from #{post.type}
        p.message #{post.message}