extends layout

block content
    div.centered
        div.title
            | Connect more accounts
        a(href='/connect/facebook/')
            img(id='loginbutton', src='images/facebok-icon.png')
        a(href='/connect/twitter/')
            img(id='loginbutton', src='images/twitter-icon.png')
        a(href='/connect/gplus/')
            img(id='loginbutton', src='images/gplus-icon.png')

