extends layout

block content
    div.title.well
        | Connect more accounts
    div.hero-unit.fixwidth.well
        a(href='/login/facebook/')
            img(id='loginbutton', src='images/facebok-icon.png')
        a(href='/login/twitter/')
            img(id='loginbutton', src='images/twitter-icon.png')
        a(href='/login/gplus/')
            img(id='loginbutton', src='images/gplus-icon.png')
    div.hero-unit.fixwidth.well
        p Having trouble remembering where that post was?
        form(name='search, action='/search/facebook', method='get')
            | Search here! <input type='text' name='query.q')>
            input.btn(type='submit') Submit