extends layout

block content
    div.title
        | <b> Recall </b>
    hr
    div.hero-unit.fixwidth
        div.description
            | <i> Social media search at your fingertips. </i>
        a(href='/login/facebook/')
            img.sm(id='loginbutton', src='images/facebok-icon.png')
        a(href='/login/twitter/')
            img.sm(id='loginbutton', src='images/twitter-icon.png')
        a(href='/login/gplus/')
            img.sm(id='loginbutton', src='images/gplus-icon.png')
