doctype 5
html
  head
    title= title
    link(href="http://bootswatch.com/readable/bootstrap.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
    block scripts
  body
    block content
